body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    background-color: lightseagreen;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    width: 1000px;
    height: 700px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 10px solid orange;
}

h1 {
    text-decoration: underline;
    font-size: 40px;
    font-weight: bolder;
    color: black;
}

.imgh1 {
    height: 50px;
    width: 50px;
    padding-left: 10px;
    margin-top: 25px;
}

h2 {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.answer-container {
    display: flex;
    flex-wrap: nowrap;
    /* align-items: center; */
    justify-content: space-between;
    margin-left: 20px;
    padding: 20px;
    border-color: 2px solid rgb(236, 137, 14);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 20px;
    /* border-color: 2px solid rgb(236, 137, 14); */
}

.cards-container {
    display: grid;
    grid-template-rows: 125px 125px 125px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 10px 10px;
    place-items: center;
}

.card {
    justify-items: center;
    margin: 10px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.ninja-image {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.card-image {
    height: 125px;
    width: 125px;
    transform: rotateY(90deg);
    transition: all ease-in 0.25s;
}

.restart-button {
    border: 2px solid black;
    background-image: linear-gradient(to bottom right, orange, rgb(230, 107, 169));
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 20px;
    cursor: pointer;
    box-shadow: darkblue;
}

.restart-button:hover {
    font-size: 24px;
}


.move-counter {
    justify-content: left;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

.feedback {
    justify-content: center;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: blue;
}


/* Dynamic classes that are being added by JavaScript */
.toggled .card-image {
    transform: rotateY(0deg);
    transition-delay: 0.25s;
}

.item .ninja-image {
    transition: all ease-in 0.25s;
    transition-delay: 0.25s;
}

.toggled .ninja-image {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .game-container {
        width: 80%;
        height: 700px;
        padding: 0;
    }

    .cards-container {
        grid-template-rows: 80px 80px 80px 80px;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 5px 5px;
    }

    .ninja-image {
        height: 70px;
        width: 70px;
    }

    .card-image {
        height: 70px;
        width: 70px;
    }

    .answer-container {
        margin: 2px 0 2px 0;
    }

    .restart-button {
        border-radius: 5px;
        font-size: 10px;
        /* font-weight: bold; */
        padding: 10px 10px;
    }

    .move-counter {
        font-size: 15px;
        font-weight: thin;
    }

    .feedback {
        font-size: 10px;
        padding: 5px;
        font-weight: thin;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
    .game-container {
        width: 90%;
        height: 800px;
        padding: 0;
    }

    .cards-container {
        justify-content: center;
        grid-template-rows: 125px 125px 125px;
        grid-template-columns: 33% 33% 33% 33%;
        grid-gap: 10px 10px;

    }

    .ninja-image {
        height: 80px;
        width: 80px;
    }

    .card-image {
        height: 80px;
        width: 80px;
    }

    .answer-container {
        margin: 10px 0 10px 0;
    }

}


/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .game-container {
        width: 800px;
        height: 800px;
        padding: 0;
    }

    .cards-container {
        justify-content: center;
        grid-template-rows: 125px 125px 125px;
        grid-template-columns: 200px 200px 200px 200px;
        grid-gap: 10px 10px;

    }

    .ninja-image {
        height: 100px;
        width: 100px;
    }

    .card-image {
        height: 100px;
        width: 100px;
    }

    .answer-container {
        margin: 10px 0 10px 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .game-container {
        width: 1000px;
        height: 800px;
        padding: 0;
    }

    .cards-container {
        justify-content: center;
        grid-template-rows: 125px 125px 125px;
        grid-template-columns: 200px 200px 200px 200px;
        grid-gap: 10px 10px;

    }

    .ninja-image {
        height: 100px;
        width: 100px;
    }

    .card-image {
        height: 100px;
        width: 100px;
    }

    .answer-container {
        margin: 10px 0 10px 0;
    }


}